@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.page
	f()
	fl()
	min-height 100vh

.content
	+below(1024px)
		padding: 30px 0
	flex-grow 1
	padding: 50px 0

.content--clear
	padding-bottom: 0

.content--mid
	flex(mid)

// animate top menu
@keyframes slideInDown
	from
		transform: translate3d(0, -100%, 0)
		visibility: visible;
	to
		transform: translate3d(0, 0, 0)

.shrink
	position fixed
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;
	z-index 10
// animate top menu === end

// error
.page-error
	flex(mid)
	fl()
	height: 100%
.page-error__title
	@extend .type--xl
	margin-bottom: 30px
	font-weight: 700
	color $gray
.page-error__img
	margin-bottom: 30px
.page-error__text
	@extend .type--md
	color $gray
	margin-bottom: 30px
.page-error__get
	@extend .btn--md
	@extend .btn--mark
// error === end

// modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 100%
		box-shadow 0 0 0
	transform scale(.9) translateZ(0) translate3d(0, 0, 0)
	will-change: transform, opacity;
	backface-visibility: hidden
	position: absolute
	opacity 0
	transition transform .6s, opacity .8s
	max-width 400px
	left -9999px
	top -9999px
	.order__row
		margin-bottom: 20px
		border-bottom 0

.modal-content
	+below(640px)
		height: 100%
		padding: 20px
		overflow-y scroll
		width: 95%!important
		margin: 20px auto
	background: white
	position: relative
	padding: 40px 45px
	br(40px)

.modal__show
	max-height 100%
	opacity 1
	transform scale(1) translateZ(0) translate3d(0, 0, 0)
	position: relative
	z-index 1000
	left initial
	top initial
	transition transform .6s, opacity .8s
	will-change: transform, opacity

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 20px
	right: 20px
	cp()
	size 50px
	br(20px)
	flex(mid)
	z-index 10
	background: #f8f8f8
	&:hover
		.icon
			opacity: 1
	.icon
		tr()
		size 12px
		fill black
		opacity:.3

.modal-hide-animation
	transform scale(.9)
	opacity 0
	transition transform .6s, opacity .8s
.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)

.modal-title
	+below(768px)
		font-size: 20px
	margin-bottom: 20px
	text-align: center
	@extend .type--xl
	font-weight: 700

.modal-text
	+below(768px)
		width: 100%
		font-size: 12px
	text-align: center
	margin: 20px auto
	//width: 80%
	line-height: 1.6


.modal-send
	@extend .btn--md
	@extend .btn--mark
	width: 100%
// modal === end

// cookie
.cookie
	position: fixed
	bottom 20px
	left 0
	width: 100%
	transform translateY(10px)
	opacity: 0
	z-index -1
	tr()
.cookie--active
	z-index 20
	opacity: 1
	transform translateY(0)
.cookie-wrap
	bsh()
	padding: 15px 20px
	br(20px)
	z-index 10
	background: white
	f()
	justify-content: space-between
	.icon
		&:hover
			fill black
		tr()
		size 14px
		margin-left: 10px
		fill $gray
		cp()
.cookie-text
	width calc(100% - 30px)
	font-size: 12px
// cookie === end

// header
.header
	+below(1024px)
		border-bottom 1px solid $border-color
		height: 60px
.header-top-wrap
	background: $dark
	color white
	+below(1024px)
		display none
.header-top
	f()
	align-items center
.header-top-nav
	width: 65%
	flex(between)
.header-top-nav__el
	color white
	@extend .type--sm
	opacity: .9
	&:hover
		color $mark
.header-tool__el--mark
	background: $mark
	&:hover
		background: lighten($mark,5)

.header-tool
	margin-left auto
	f()
.header-tool__el
	padding: 15px
	flex(between)
	margin-left: 10px
	cp()
	.icon
		size 18px
		fill white
	span
		display inline-block
		margin-left: 10px
		color white
.header-main
	+below(1024px)
		padding: 0
		height: 60px
	f()
	align-items center
	padding: 15px 0
.logo
	+below(640px)
		margin: 0 auto
	img
		width: 300px

.logo--desktop
	+below(1024px)
		display none

.logo--mobile
	display none
	max-width 100px
	+below(1024px)
		display block
	+below(480px)
		max-width 60px


.logo-partner
	+below(1024px)
		display none
	width: 12%
	margin-left auto
.header-contact
	+below(1024px)
		margin-right: 0
	+below(640px)
		display none
	margin-left auto
	margin-right: 20px
.header-phone
	+below(480px)
		font-size: 14x
		display none
	@extend .type--md
	margin-bottom: 5px
	font-weight: 700
	font-family "PT Sans"
.header-loc
	f()
	cp()
	.icon
		size 16px
		margin-right: 5px
		fill $mark
	span
		color $dark
		font-weight: 500
		//text-decoration: underline
.header-get
	+below(1024px)
		display none

.header-bottom-wrap
	+below(1024px)
		.get-cat-wrap
			display none
		.get-cat
			padding: 0
		.search
			display none
		padding: 0
	padding: 15px 0
	background: $gray
.header-bottom
	f()
	position relative

.navigation
	+below(1024px)
		opacity: 1
		column-count 1!important
		transform translateY(0) translateX(110%)
		height: 100%
		position: fixed
		top 0
		left initial
		right: 0
		width: 360px
		tr(all)
		border-right 1px solid $border-color
		background: white
		z-index 10
		display: flex !important
		fl()
		overflow auto
	+below(480px)
		width: 100%
	display block!important
	position absolute
	top 100%
	left 0
	width: 100%
	background: white
	z-index 10
	padding: 20px
	column-count 4
	bsh()
	z-index -1
	opacity: 0
	tr()
	transform translateY(20px)


.navigation-el
	a
		&:hover
			color $mark
	display inline-block
	+below(1024px)
		display block
.navigation-list
	padding-left: 20px
	li
		position relative
		&:before
			content ''
			position absolute
			size 6px
			round()
			background: $mark
			top 8px
			left -15px
		margin-bottom: 5px
		a
			link(#eaeaea)
			line-height: 1.6
			font-size: 14px
.navigation-el-title
	font-weight: 700
	@extend .type--md
.get-cat
	padding: 15px
	background: $dark
	color white
	flex(mid)
	@extend .type--md
	cp()
	tr()
	width: 200px
	&:hover
		background: darken($dark,10)
		.navigation
			transform translateY(0)
			z-index 10
			opacity: 1
	span
		color white
	.icon
		fill white
		size 14px
		margin-right: 10px
	.icon--open
		display none
.get-cat-wrap
.get-cat.active
	.icon--open
		display block
	.icon--close
		display none

.search
	width: calc(100% - 220px)
	margin-left: 20px
	position relative
	.input
		width: 100%
	.icon
		position absolute
		top calc(50% - 12px)
		right 20px
		size 24px

// header === end

// footer
.footer-wrap
	padding: 50px 0
	background: $dark
//.main-cont
.footer-top
	+below(640px)
		fw()
	flex(between)
	margin-bottom: 30px
.footer-logo
	+below(640px)
		width: 100%
		margin-bottom: 30px
	img
		+below(640px)
			width: 100%
			max-width 300px
		width: 350px
.soc-row
	f()
	align-items center
.soc-row__el
	margin-left: 10px
	img
		size 42px
	.icon
		size 42px
//.icon
.footer-nav
	+below(640px)
		fw()
	flex(between)
.footer-nav__el
	+below(640px)
		width: 100%
		display inline-block
		margin-bottom: 20px
	color white
	&:hover
		color $mark
// footer === end

// grid
.main-grid
	+below(1024px)
		grid-template-columns: repeat(2, 1fr)
	+below(640px)
		display block
		width calc(100% + 20px)
		margin-left: -10px
		margin-top: -30px
		margin-bottom: 0
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 60px
.card-el
	+below(640px)
		border 0
		border-bottom 3px solid $mark
		&:before
			content ''
			background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(161,161,161,0) 90%, rgba(255,255,255,0.25) 100%)!important
	padding: 30px
	//height: 270px
	f()
	fl()
	justify-content space-between
	align-items: baseline
	bg-full()
	border 1px solid $border-color
	position relative
	min-height 240px
	&:nth-child(1)
		+below(1024px)
			grid-column initial
		grid-column 1/4
	&:before
		content ''
		background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(161,161,161,0) 70%, rgba(255,255,255,0.25) 100%);
		position absolute
		top 0
		left 0
		width: 100%
		height: 100%
.card-el__title
	+below(768px)
		font-size: 24px
		min-width 150px
	margin-bottom: 20px
	font-weight: 700
	position relative
	margin-left: -30px
	padding: 3px 10px 3px 20px
	background: $gray
	display inline-block
	@extend .type--mdx
	font-family: "Handbook"
	min-width 120px

.card-el__title--lg
	@extend .type--xl
.card-list
	f()
	fl()
.card-list__el
	color white
	margin-bottom: 7px
	position: relative
	padding-left: 10px
	line-height: 1.4
	&:last-child
		margin-bottom: 0
	&:hover
		color $mark
	&:before
		content ''
		round()
		position absolute
		size 6px
		top 6px
		left -5px
		background: $mark
	span
		link(#ffffff36)
		position relative
		line-height: 1
// grid === end

.section
	+below(768px)
		padding: 30px 0
	padding: 80px 0
	position relative
	overflow hidden
.section--sm
	padding: 30px 0
.unit
	+below(1400px)
		display none
	position absolute
	width: 15%
	height: 200%
	top -20%
.unit--mark
	background: $mark
.unit--dark
	background: $dark
.unit--left
	transform rotate(10deg)
	left -10%
.unit--right
	transform rotate(10deg)
	right -5%

.section--gray
	background: #eaebec
.section--snow
	background: #f7f7f7


.section-title
	@extend .type--xl
	font-weight: 700
	font-family: "Handbook"
	up()
	margin-bottom: 30px

// slider
.slider-item
	position relative
.slider-item--extend
	.slick-slide
		margin: 0 10px
	.slick-list
		margin: 0 -10px

.slider-wrap--arrow
	flex(between)
	position relative
	.slider-item
		+below(1024px)
			width: 100%
		width: calc(100% - 100px)
.slider-wrap--arrow-in
	position relative
	margin-bottom: 70px
	.slider-control-wrap
		position absolute
		top 0
		right 0
.slider-wrap--extend
	margin-bottom: 100px

.slider-control-wrap
	+below(1024px)
		display none
	f()
	fl()
	width: 40px
	.slider-control
		padding: 60px 10px
		flex(mid)
		cp()
		.icon
			size 18px
	.slider-control--left
		background: white
		border 1px solid $gray
	.slider-control--right
		background: $mark
		border 1px solid transparent
		.icon
			fill white

.slick-dots
	+below(720px)
		bottom 0
	width: 100%
	display: flex !important
	align-items: center
	justify-content: center
	bottom -50px
	margin-bottom: 0!important
	li
		+below(720px)
			size 10px
			flex(mid)
		margin: 0 5px!important
	.dot
		+below(720px)
			flex(mid)
			size 6px
		background: $mark
		width: 20px
		height: 4px
		display: block
		br(3px)
		opacity: .2
	.slick-active
		.dot
			opacity: 1
// slider === end

.news-el__img
	bg-full()
	padding: 30% 10%
	margin-bottom: 20px
.news-el__title
	@extend .type--mdx
	display inline-block
	margin-bottom: 5px
	font-weight: 700
	font-family: "Handbook"
.news-el__date
	color $gray--dark
	font-size: 14px
	margin-bottom: 10px
.news-el__text
	line-height: 1.4
	margin-bottom: 20px
	//color $text-color
.news-el__get
	color $mark

// .knowledge
.knowledge
	+below(1024px)
		grid-template-columns: repeat(3,1fr)
	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(5,1fr)
.knowledge__el-img
	+below(640px)
		max-width 100px
		padding: 10%
		border 1px solid $border-color
	padding: 20% 10%
	flex(mid)
	margin-bottom: 20px
	bg-full()
	background-color white
	background-size 65%
.knowledge__el-get
	padding: 10px 20px
	border 1px solid $border-color
	flex(between)
	margin-bottom: 5px
	&:hover
		border-color black

	.icon
		size 16px
// .knowledge === end

// slider banner
.slider-banner__el
	position relative
.slider-banner__el-img
	max-height 500px
	bg-full()
	padding: 25%

.slider-banner-nav
	position absolute
	width: 100%
	left 0
	bottom 0
	padding: 20px
	flex(mid)
.slider-banner-nav__el
	@extend .btn--sm
	@extend .btn--mark
	margin: 0 5px
// slider banner === end

.info-cont
	display: grid
	grid-gap 30px
	grid-template-columns: repeat(auto-fill, minmax(14rem,1fr))

.info-cont__el
	f()
	align-items center
	fl()
.icon-round
	position relative
	margin-bottom: 20px
	&:before
		content ''
		size 120px
		round()
		background: #ff671f1f
		position absolute
		left -45%
		bottom 0
	.icon
		size 100px
		fill $mark

.info-cont__el-title
	font-weight: 700
	margin-bottom: 20px
	width: 100%
	@extend .type--md
	line-height: 1.4
.info-cont__el-text
	color $text-color
	line-height: 1.4

.bonus
	+below(1024px)
		fl()
		align-items: flex-start
	f()
	justify-content space-between
	align-items center
.bonus-img
	+below(1024px)
		width: 100%
		margin-bottom: 20px
		img
			max-width 480px
			width: 100%
			margin-bottom: 20px
	+below(640px)
		.btn--sm
			padding: 10px
	width: 45%
	flex(mid)
	fl()
.bonus-info
	+below(1024px)
		width: 100%
	width: 50%
.bonus-title
	font-weight: 700
	@extend .type--xxl
	margin-bottom:20px
	font-family: Handbook
.bonus-text
	line-height: 1.4

.mark-list
	li
		margin-bottom: 5px
		line-height: 1.4
		list-style none
		position relative
		&:before
			content ''
			size 8px
			round()
			top 8px
			left -20px
			background: $mark
			position absolute

.info-form-wrap
	+below(640px)
		display block
	padding: 60px 10px
	flex(mid)
	fl()

.info-form-wrap--dark
	background: $gray

.info-form
	+below(640px)
		width: 100%
	f()
	width: 80%
	max-width 500px
	.input
		+below(640px)
			width: 60%
		border-radius 4px 0 0 4px
		flex-grow 1
	.btn--sm
		border-radius 0 4px 4px 0

.subscr-text
	+below(640px)
		text-align: left
	text-align center
	line-height: 1.4
	max-width 600px
	margin-bottom: 30px


.bread
	f()
	fw()
	margin-bottom: 20px
	a
		color black
		&:hover
			color $mark
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	color $gray-dark
	@extend .type--sm
	line-height: 1
	&:after
		content '/'
		position: absolute
		right: -10px
		top 0px
	&:last-child
		&:after
			content ''
			display: none

.container
	+below(768px)
		fw()
	f()
	justify-content: space-between
.toolbar
	+below(768px)
		width: 100%
	width: 280px

.info
	+below(768px)
		width: 100%
	width calc(100% - 320px)

.menu-wrap
	border 1px solid $border-color
	margin-bottom: 30px
.menu-el
	f()
	fw()
	padding: 15px
	border-bottom 1px solid $border-color
	border-top 1px solid $border-color
	margin-bottom: -1px
	margin-top: -1px
	tr()
.menu-el--link
	&:hover
		background: #f9f9f9

.menu-el--drop
	cp()

.menu-el-wrap.active
	.menu-el--drop
		.menu-el__title
			font-weight: 700
		.icon
			transform rotate(90deg)
	.menu-sub
		display block
.menu-el--active
	.menu-el__title
		font-weight: 700
	background: #f9f9f9
.menu-el--mark
	background: $mark
	color white
	border 1px solid $mark
.menu-el__val
	margin-left auto
	color $dark-gray
.menu-el__icon
	margin-left auto
	.icon
		tr()
		size 12px

.menu-head
	padding: 15px
	background: $mark
	color white
	margin-bottom: -1px

.menu-sub
	width: 100%
	display none
	padding: 15px
	.check-el
		margin-bottom: 5px

.sort
	+below(768px)
		margin-top: 0
		fl()
		align-items: flex-start
	f()
	align-items: center
	.nice-select
		margin-bottom: 0

.sort__name
	+below(768px)
		margin-bottom: 10px
	margin-right: 20px

.catalog-sort
	f()
	margin-bottom: 30px
	.sort
		margin-right: 20px
// nice-select
.nice-select
	br(5px)
	margin-bottom: 20px
	display: block
	color #000000
	font-size 14px
	font-weight 700
	position relative
	float none
	.list
		width: calc(100% )
		left 0
		border-radius 0 0 5px 5px
		border 0 solid $border-color
		border-top 0
		margin-top: 0
		max-height 250px
		overflow-y auto
		//li
		//	white-space: nowrap
		//	overflow: hidden
		//	text-overflow: ellipsis
  .current //max width dots
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		display inline-block
		max-width 120px
 
.nice-select.open
	border-radius 5px 5px 0 0
 
select.select-beauty
	display: none!important
 
.element-select
	padding: 20px 0
 
.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

::webkit-scrollbar
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(255,255,255,0.2);
// nice-select === end

.type-view
	+below(1024px)
		display none
	f()
	align-items center
	margin-left auto
	span
		display inline-block
		margin-right: 10px
	.icon
		size 22px
		margin-left: 10px

.type-view__el
	flex(mid)
	cp()
.type-view__el--active
	.icon
		fill $mark
		

// items
.item
	f()
	fl()
	+above(1025px)
		&:hover
			.item-config
				display block
				opacity: 1
				z-index 10
				transform translateY(0px)
			.like
				display block
	+below(1024px)
		f()
		flex-flow row
		width: 100%
		margin-bottom: 0
		position relative
.item-list
	+below(1024px)
		grid-template-columns: 1fr
		grid-gap 10px
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(3, 1fr)

.item-list--line
	display block
	.item
		f()
		flex-flow row
		width: 100%
		margin-bottom: 10px
		+above(1025px)
			&:hover
				.item-info
					bsh()
					z-index 100
					background: white
					bsh()
				.item-img
					z-index 100
				.item-config
					background: white
					bsh()
					border-radius 0 0 10px 10px
	.item-img
		width: 20%
		padding: 5%
	.item-info
		width: 80%

.item-img
	+below(1024px)
		padding: 0%
		size 100px
	padding: 40% 10%
	bg-full()
	display block
	transition none!important
.item-info
	+below(1024px)
		width calc(100% - 100px)
		position: static
		display block
		border 0
		padding-top: 0
	+below(640px)
		padding: 10px
	padding: 20px 15px
	border 1px solid $border-color
	position relative
	flex-grow 1
	f()
	fl()
.item-title
	+below(1024px)
		width: 100%
	font-weight: 700
	margin: 10px 0
	display inline-block
.item-cost
	margin-top: auto
	f()
	align-items: center
	span
		color $text-color
.item-cost__val
	font-weight: 700
	@extend .type--lg
	margin-right 10px
	line-height: 1
	font-family:Handbook

.item-config
	+below(1024px)
		z-index 10
		padding: 15px
		border-top 1px solid $border-color
		background $snow
		left -9999px
		transition opacity .4s, transform .4s
	tr()
	opacity: 0
	z-index -1
	position absolute
	top 100%
	width: calc(100% + 2px)
	left -1px
	padding: 0 15px 15px 15px
	background: white
	border 1px solid $border-color
	border-top 0
	transform translateY(-10px)

.item-config.active
	opacity: 1
	z-index 10
	left 0
	transform translateY(0px)

.item-config__el
	margin-bottom: 10px
	&:last-child
		margin-bottom: 0
.item-config__title
	font-size: 12px
	font-weight: 700
	color $text-color
	margin-bottom: 10px
.color
	display: grid
	grid-gap 8px
	grid-template-columns: repeat(auto-fill, minmax(20px,22px))
.color-el
	size 20px
	padding: 3px
	position relative
	cp()
	&:before
		content ''
		position absolute
		width 26px
		height 26px
		top -3px
		left -3px
		border 1px solid $border-color

.color-el.active
	&:before
		content ''
		border 1px solid black

.item-get
	margin-bottom: 10px
.item-choose
	display: grid
	grid-gap 10px
	grid-template-columns: 1fr 1fr

.like
	+below(1024px)
		display block
		top 5px
		right: 0
	position absolute
	top 15px
	right: 15px
	cp()
	display none
	.icon
		&:hover
			fill $mark
		size 20px
		fill $gray
.like.active
	.icon
		fill $mark

.item-toggle
	+above(1024px)
		display none
	flex(mid)
	padding: 4px
	border 1px solid $border-color
	br(10px)
	margin-top: 10px
	.icon
		size 12px
		margin-left: 10px
	span
		font-size: 12px
		font-weight: 700

.item-toggle.active
	border 1px solid $mark
	span
		color $mark
	.icon
		transform rotate(180deg)
		fill $mark

// items === end
.rating
	f()
	.icon
		size 14px
		margin-right: 3px
		fill #ffc90d
	.icon--disable
		fill $gray

.btn-info
	padding: 15px
	border 1px solid $border-color
	flex(between)
	margin-bottom: 20px
	tr()
	&:hover
		border 1px solid $mark

	.icon
		size 34px
		fill $mark
		margin-right: 10px
	span
		display inline-block
		width calc(100% - 40px)
		font-size: 12px

.pag
	f()
	fw()
	margin: 40px 0
.pag__el
	+below(768px)
		margin: 5px
		padding: 5px 10px
	flex(mid)
	cp()
	tr()
	margin: 10px
	padding: 10px 15px
	border 1px solid $border-color
	display: inline-block
	&:hover
		border-color $mark
		color $mark
.pag__el--active
	border-color $mark
	color $mark

// slide menu
.slide-block
	+below(1024px)
		top: 60px //Высота хедера
		position: fixed
		top 60px
		width: 360px
		tr(all)
		border-right 1px solid $border-color
		height: calc(100% - 60px)
		background: white
		z-index 10
		display block
	+below(480px)
		width: 100%
	display none
.slide-block-wrap
	overflow-y auto
	height: 100%
	padding: 20px
	.get-cat
		width: 100%
		margin-bottom: 20px
	.search
		width: 100%
		margin: 0 0 20px 0
	.header-tool__el
		width: 100%
		margin: 0 0 20px 0
		flex(mid)
	.header-loc
		margin-bottom: 20px
		span
			font-size: 18px
		.icon
			size 20px
.slide-auth
	justify-content: flex-start!important
	padding-left: 0
	span
		color black
		font-size: 18px
	.icon
		fill black
.slide-cart
	span
		font-size: 18px
		font-weight: 700
.slide-block--left
	left 0
	transform translateX(-100%)

.slide-block--right
	right 0
	transform translateX(100%)

.slide-block--open
	transform translateX(0%)


.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.is-open
	display none

.slide-block-toggle--open
	.is-close
		display none!important
	.is-open
		display block!important
	.header-cart__icon
		.is-close
			display none

.header-nav-toggle
	+above(1025px)
		display none
	flex(mid)
	size 60px
	margin: 0 10px 0 -10px
	border-right 1px solid $border-color
	.icon
		size 24px

.catalog-mobile
	+above(1025px)
		display none
	flex(mid)
	size 60px
	height: calc(40px + 20px)
	margin:0 -10px 0 10px
	background: $mark
	color white
	font-weight: 700
	flex(mid)
	.icon
		size 34px
		fill white
	.icon.is-open
		size 18px
.slider-menu
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	padding: 20px 20px
	width calc(100% + 40px)
	margin-left: -20px
	background: $gray
.slider-menu__el
	display block
	margin-bottom: 15px
.slide-phone
	margin-bottom: 20px
	font-size: 24px
	font-weight: 700
	display inline-block
// slide menu === end

.show-cat
	margin-bottom: 60px
	+below(640px)
		margin: 0
		.btn--md
			width: calc(100% + 20px)
			margin-left: -10px
			margin-right: -10px
			br(0)
			padding: 20px
			font-size: 20px
			font-weight: 700

.section--mobile-hidden
	+below(640px)
		display none

.item-condition
	+above(1025px)
		margin-top: -10px
	f()
	align-items center
	margin-bottom: 10px
	span
		color green
		font-weight: 700
		font-size: 12px
.item-condition__icon
	size 10px
	round()
	background: green
	margin-right: 5px

.item-condition--false
	span
		color red
	.item-condition__icon
		background: red

.filter
	+below(768px)
		display none

.filter-toggle
	+above(769px)
		display none
	flex(mid)
	background: $mark
	padding: 10px
	margin-bottom: 20px
	.icon
		size 20px
		fill white
		margin-right: 10px
	span
		font-size: 16px
		font-weight: 700
		color white

.row
	display: grid
	grid-gap 30px
.row--3
	grid-template-columns: repeat(auto-fill, minmax(16rem,1fr))

.partner-img
	padding: 20px
	background: white
	border 1px solid $border-color
	min-height 110px
	flex(mid)