include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.main-cont
			.bonus.bonus--extend
				.bonus-img
					img(src="img/nois-card.jpg", alt="")
					.info-form
						input(type="text" placeholder="Ваш номер карты" class="input")
						.btn--sm.btn--mark.btn--mid Проверить баланс
				.bonus-info
					.bonus-title Бонусная программа НОИС
					.bonus-text У кухонного гарнитура есть несколько поверхностей: дверцы шкафов (фасады), мебельный каркас, п
					ul.mark-list
						li  Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание систем массового участия.
						li  Идейные соображения высшего порядкареализации существенных финансовых и административных условий.
						li  Значимость этих проблем настолько очевидна, что укрепление и развитие структуры представляет

		.section.section--snow
			.main-cont
				.title.title--xxl Как это работает?
				.info-cont
					.info-cont__el
						.icon-round
							+icon("teach","icon")
						.info-cont__el-title Приобретаете товары в компании  НОИС
						.info-cont__el-text У кухонного гарнитура есть несколько поверхностей: дверцы шкафов (фасады), мебельный каркас, полки и столешница. Разберём для общего развития какие они бывают, хотя на самом деле есть всего 1 верный вариант и его мы явно укажем.
					.info-cont__el
						.icon-round
							+icon("reading","icon")
						.info-cont__el-title Накапливайте до 9% от суммы покупки
						.info-cont__el-text У кухонного гарнитура есть несколько поверхностей: дверцы шкафов (фасады), мебельный каркас, полки и столешница.Хотя на самом деле есть всего 1 верный вариант и его мы явно укажем.
					.info-cont__el
						.icon-round
							+icon("checklist","icon")
						.info-cont__el-title Оплачивайте до 30% от суммы покупки
						.info-cont__el-text У кухонного гарнитура есть несколько поверхностей: дверцы шкафов (фасады), мебельный каркас, полки и столешница. Разберём для общего развития какие они бывают, хотя на самом деле есть
					.info-cont__el
						.icon-round
							+icon("data-protection","icon")
						.info-cont__el-title Увеличиваете свой бонусный статус
						.info-cont__el-text У кухонного гарнитура есть несколько поверхностей: дверцы шкафов (фасады), мебельный каркас, полки и столешница. Разберём для общего
		.section.section--clear
			.main-cont
				.bonus-about
					.title.title--xxl Сколько бонусов накапливается?
					.bonus-about__list
						.bonus-about__el
							.bonus-about__title Стартовые условия
							.bonus-about__val 3%
						.bonus-about__el
							.bonus-about__title От 750 000 руб./год
							.bonus-about__val 6%
						.bonus-about__el
							.bonus-about__title От 1 200 000 руб./год
							.bonus-about__val 9%



					.text
						p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в значительной степени обуславливает создание дальнейших направлений развития. Равным образом укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений.

						p Значимость этих проблем настолько очевидна, что консультация с широким активом способствует подготовки и реализации соответствующий условий активизации. Задача организации, в особенности же укрепление и развитие структуры в значительной степени обуславливает создание систем массового участия. Разнообразный и богатый опыт начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
		+orderForm()
	+footer()
include ./block_html/_script.pug
