include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.main-cont
			+bread()
			.title.title--xxl Дилерская сеть
			.container
				.toolbar
					.toolbar-toggle.js-commutator-el(data-item="location")
						+icon("menu","icon icon--close")
						+icon("close","icon icon--open")
						span Список городов

					.menu-wrap.menu-wrap--mobile.js-commutator-cont(data-item="location")
							.menu-el.menu-el--mark.menu-el--link
								.menu-el__title Выберите город
							-
								var items = [
									'Абакан',
									'Барнаул',
									'Барнаул',
									'Владивосток',
									'Москва',
									];
							each item,i in items
								a(href="#el-"+i+1 rel = 'm_PageScroll2id').menu-el.menu-el--link
									.menu-el__title #{item}

				.info
					- for (var i=0;i<6;i++)
						.dealer-el(id="el-"+i+1)
							.title.title--xl Диллерский центр #{i+1}
							.location.location--sm
								.map
									.map__el
										//положи код карты сюда
								.location__info
									.location-row
										.location-title Адрес:
										.location-val г.Новосибирск ул. Зорге 23
									.location-row
										.location-title Телефон:
										.location-val +7(384) 325-12-21 доб 125
									.location-row
										.location-title E-mail:
										.location-val info@nois.ru
									.location-row
										.location-title Режим работы:
										.location-val пн-пт с 9:00 до 18:00
									.location-row
										.location-title Сайт:
										a(href="#").location-val noise-dealer.ru
									.location-row
										.location-title Соц. сети:
										.soc-row.soc-row--sm.soc-row--mark
											a(href="#").soc-row__el
												+icon("soc-facebook-box","icon")
											a(href="#").soc-row__el
												+icon("soc-instagram","icon")
											a(href="#").soc-row__el
												+icon("soc-whatsapp","icon")
							.text
								p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания
								.img-list
									a(href="img/item-1.jpg" style="background-image:url('img/item-1.jpg')").img-list__el.fancybox
									a(href="img/item-2.jpg" style="background-image:url('img/item-2.jpg')").img-list__el.fancybox
									a(href="img/item-3.jpg" style="background-image:url('img/item-3.jpg')").img-list__el.fancybox
									a(href="img/item-4.jpg" style="background-image:url('img/item-4.jpg')").img-list__el.fancybox
									a(href="img/item-5.jpg" style="background-image:url('img/item-5.jpg')").img-list__el.fancybox
								p С другой стороны рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач.
		+orderForm()
+footer()
include ./block_html/_script.pug
