include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.main-cont
			+bread()
			.title.title--xxl Дилерская сеть
			.container
				.toolbar
					.toolbar-toggle.js-commutator-el(data-item="location")
						+icon("menu","icon icon--close")
						+icon("close","icon icon--open")
						span Список городов

					.menu-wrap.menu-wrap--mobile.js-commutator-cont(data-item="location")
						a(href="#").menu-el.menu-el--mark.menu-el--link
							.menu-el__title Краснодар
						- for (var i=0;i<4;i++)
							-
								var items = [
									'Абакан',
									'Барнаул',
									'Барнаул',
									'Владивосток',
									'Москва',
									];
							each item in items
								a(href="#").menu-el.menu-el--link
									.menu-el__title #{item}

				.info
					.location.location--sm
						.map
							.map__el
								//положи код карты сюда
						.location__info
							.location-row
								.location-title Адрес:
								.location-val г.Новосибирск ул. Зорге 23
							.location-row
								.location-title Телефон:
								.location-val +7(384) 325-12-21 доб 125
							.location-row
								.location-title E-mail:
								.location-val info@nois.ru
							.location-row
								.location-title Режим работы:
								.location-val пн-пт с 9:00 до 18:00
					.text
						p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Не следует, однако забывать, что рамки и место обучения кадров способствует подготовки и реализации систем массового участия.
						.img-list
							a(href="img/item-1.jpg" style="background-image:url('img/item-1.jpg')").img-list__el.fancybox
							a(href="img/item-2.jpg" style="background-image:url('img/item-2.jpg')").img-list__el.fancybox
							a(href="img/item-3.jpg" style="background-image:url('img/item-3.jpg')").img-list__el.fancybox
							a(href="img/item-4.jpg" style="background-image:url('img/item-4.jpg')").img-list__el.fancybox
							a(href="img/item-5.jpg" style="background-image:url('img/item-5.jpg')").img-list__el.fancybox
						p С другой стороны рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений. Товарищи! консультация с широким активом позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
		+orderForm()
+footer()
include ./block_html/_script.pug
