include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--clear
		.main-cont
			+bread()
			.container
				.toolbar
					.menu-wrap
						a(href="#").menu-el.menu-el--link
							.menu-el__title О компании Ноис
						a(href="#").menu-el.menu-el--mark.menu-el--link
							.menu-el__title История компании Ноис
				.info
					.title.title--xxl История компании Ноис
					.text
						.title-time
							.title-time__val 2018
							.title-time__text Открывается офис в Иркутске, Первый учебный центр в Новосибирске

						img(src="img/history-1.jpg", alt="").img

						p В 2018 году, компания расширила свою географию открытием дилеров в Благовещенске, Южно-Сахалинске, Петропавловск – Камчатском. Кроме того, компания открыла собственный офис в городе Иркутск.

						p Специально для своих клиентов, компания открыла Учебный центр, на территории которого располагается: учебный класс, аудитория для проведения лекций и семинаров, Отдел активных продаж и Проект «тест-драйв кухни» от Blum

						p Кроме того, для повышения удобства работы с компанией, запущена собственная система лояльности для клиентов.

						.title-time
							.title-time__val 2017
							.title-time__text Построено здание во Владивостоке

						img(src="img/history-2.jpg", alt="").img

						p Компания НОИС принимает решение активно развивать дальневосточный регион и строит собственное здание на 1 700 м2, которое призвано обеспечивать весь регион продукцией из ассортимента компании.

						.title-time
							.title-time__val 2014
							.title-time__text Расширяется склад в Новосибирске

						p Построен дополнительный склад на 750 м2 в Новосибирске.

						.title-time
							.title-time__val 2012
							.title-time__text Получено представительство raumplus, дополнительный офис в Новосибирске

						p Открывается дополнительный офис в левобережной части Новосибирска. Кроме того, компания становится представителем торговой марки raumplus на территории Сибири и Дальнего Востока.
		+orderForm()
+footer()
include ./block_html/_script.pug
