-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Список категорий',
			'href': 'directory'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Карточка товара',
			'href': 'item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Тестдрайв',
			'href': 'testdrive'
		},
		{
			'name': 'Учебные центры',
			'href': 'study'
		},
		{
			'name': 'Дилеры',
			'href': 'dealer'
		},
		{
			'name': 'Контакты',
			'href': 'contact'
		},
		{
			'name': 'Список новости-акция',
			'href': 'news-list'
		},
		{
			'name': 'Новости подробная',
			'href': 'news-item'
		},
		{
			'name': 'Страница поиска',
			'href': 'search'
		},
		{
			'name': 'База знаний',
			'href': 'knowledge'
		},
		{
			'name': 'Бонусы',
			'href': 'bonus'
		},
		{
			'name': 'История компании',
			'href': 'history'
		},
		{
			'name': 'Раздел каталога',
			'href': 'catalog-part'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

-
	var items = [
			{
				"name": "Мебельная фурнитура Blum",
				"class": "card-el--lg",
				"img": "pm.png",
				"list": [
					'Подъемные механизмы',
					'Системы выдвижения',
					'Системы направляющих',
					'Системы петель',
					'SERVO-DRIVE для TANDEM, TANDEMBOX, MOVENTO и LEGRABOX',
					'SERVO-DRIVE flex для холодильников, морозильных камер и посудомоечных машин',
					'Станки, шаблоны и приспособления для сборки',
					'Журнал "Вдохновение на кухне"'
				]
			},
			{
				"name": "Мебельная фурнитура и аксессуары Vauth-Sagel",
				"class": "card-el--md",
				"img": "card--vauth.jpg",
				"list": [
					'Решения для высоких шкафов',
					'Решения для нижних тумб',
					'Решения для угловых тумб',
					'Решения для сбора мусора',
					'Аксессуары',
					'Дополнительная фурнитура',
				]
			},
			{
				"name": "Мебельные ручки PAMAR",
				"img": "card--fundermax.jpg",
				"list": [
					'Ручки скобы',
					'Ручки кнопки',
					'Крючки, Менсолодержатели, кабельные каналы',
					'Ручки врезные',
				]
			},
			{
				"name": "Мебельная фурнитура и аксессуары VIBO",
				"class": 'card-el--lg',
				"img": "card-hi-macs.jpg",
				"list": [
					'Посудосушители',
					'Выдвижные корзины и сетчатые емкости для кухни',
					'Выдвижные колонны',
					'Выдвижные поворотные колонны',
					'Механизмы для угловых тумб',
					'Карусели',
					'Наборы для сбора мусора',
					'Наполнение шкафов',
				]
			},

			{
				"name": "Фурнитура Volpato",
				"class": 'card-el--lg',
				"img": "card--veneto.jpg",
				"list": [
					'Лотки для столовых приборов',
					'Опоры (ножки кухонные)',
					'Вентиляционная база для холодильника',
					'Алюминиевые поддоны',
				]
			},
			{
				"name": "Мебельные фасады из массива ценных пород древесины",
				"img": "item-7.jpg",
				"list": [
					'Фасадные системы VENETO',
					'Мебельные фасады FIERAMOSCA',
					'Мебельные фасады РУССТА',
				]
			},

			{
				"name": "Декоративные плиты TSS Cleaf",
				"class": 'card-el--lg card-el--two-col',
				"img": "card--tss.jpg",
				"list": [
					'Geta (NEW)',
					'Talco (NEW)',
					'Penelope',
					'Spigato и PrimoFiore',
					'Tranche',
					'Yosemite',
					'Azimut',
					'Engadina',
					'Sherwood',
					'Millenium',
					'Pembroke',
					'Ares',
					'Sable',
					'Esperia и Tivoli',
					'Matrix',
				]
			},
			{
				"name": "HPL пластик Cleaf",
				"img": "item-4.jpg",
				"list": [
					'Минералы',
					'Древесные декоры',
					'Фантазийные декоры',
					'Однотонные декоры',
				]
			},
			{
				"name": "Декоративные панели FunderMax",
				"img": "item-6.jpg",
				"list": [
					'Глянцевые панели LUXOS',
					'Суперматовые панели LOTOS',
					'Панели TSS Superfront',
				]
			},
			{
				"name": "Акриловый камень LG HI-MACS",
				"class": 'card-el--lg card-el--two-col',
				"img": "banner-3.jpg",
				"list": [
					'Aurora (NEW)',
					'Intense (NEW)',
					'Solid',
					'Lucent',
					'Sand&Pearl',
					'Granite&Quartz',
					'Lucia',
					'Volcanics',
					'Galaxy',
					'Marmo',
					'Изготовление изделий из HI-MACS',
				]
			},
			{
				"name": "Комплектующие для шкафов-купе raumplus",
				"class": 'card-el--lg card-el--two-col',
				"img": "banner-lg-1.jpg",
				"list": [
					'Система распашных дверей RPS',
					'Система раздвижных дверей',
					'Система навесных дверей FLUA',
					'Безрамные деревянные двери и межкомнатные перегородки',
					'Система дверей с верхним подвесом AIR (последовательное и синхронное открывание)',
					'Система складных дверей',
					'Система распашных дверей',
					'Межкомнатная дверь SWING SLIM LINE',
					'Система мансардных дверей',
					'Интерьерная система RIMA',
					'Гардеробная система UNO',
					'Гардеробная система CORNICE',
					'Стационарные перегородки',
				]
			},
			{
				"name": "Пластик FENIX",
				"class": 'card-el--clear',
				"img": "banner-4.jpg",
				"list": [
					'FENIX NTM',
				]
		},
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

