-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Список категорий',
			'href': 'directory'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Карточка товара',
			'href': 'item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Тестдрайв',
			'href': 'testdrive'
		},
		{
			'name': 'Учебные центры',
			'href': 'study'
		},
		{
			'name': 'Дилеры',
			'href': 'dealer'
		},
		{
			'name': 'Контакты',
			'href': 'contact'
		},
		{
			'name': 'Список новости-акция',
			'href': 'news-list'
		},
		{
			'name': 'Новости подробная',
			'href': 'news-item'
		},
		{
			'name': 'Страница поиска',
			'href': 'search'
		},
		{
			'name': 'База знаний',
			'href': 'knowledge'
		},
		{
			'name': 'Бонусы',
			'href': 'bonus'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

