mixin header()
	//block header
	.header
		.header-top-wrap
			.main-cont
				.header-top
					.header-top-nav
						-
							var items = [
								'О компании','Акции','Бонусная программа','Дилерская сеть','База знаний','Контакты','Отзывы'
								];
						each item in items
							a(href="#").header-top-nav__el #{item}
					.header-tool
						.header-tool__el
							+icon("user","icon")
							span Войти
						a(href="#").header-tool__el.header-tool__el--mark
							+icon("cart","icon")
							span Корзина
		.main-cont
			.header-main
				a(href="/").logo
					img(src="img/logo.svg", alt="")
				a(href="#").logo-partner
					img(src="img/blum.svg", alt="")
				.header-contact
					a(href="tel:8 800 000 00 00").header-phone 8 800 000 00 00
					.header-loc
						+icon("location","icon")
						span Новосибирск
				.btn--sm.btn--light.header-get Заказать звонок
		.header-bottom-wrap
			.main-cont
				.header-bottom
					.get-cat
						+icon("menu","icon icon--close")
						span Каталог

						.navigation
							-
								var items = [
										{
											"name": "Мебельная фурнитура Blum",
											"list": [
												'Подъемные механизмы',
												'Системы выдвижения',
												'Системы направляющих',
												'Системы петель',
												'SERVO-DRIVE для TANDEM, TANDEMBOX, MOVENTO и LEGRABOX',
												'SERVO-DRIVE flex для холодильников, морозильных камер и посудомоечных машин',
												'Станки, шаблоны и приспособления для сборки',
												'Журнал "Вдохновение на кухне"'
											]
										},
										{
											"name": "Мебельная фурнитура и аксессуары Vauth-Sagel",
											"list": [
												'Решения для высоких шкафов',
												'Решения для нижних тумб',
												'Решения для угловых тумб',
												'Решения для сбора мусора',
												'Аксессуары',
												'Дополнительная фурнитура',
											]
										},
										{
											"name": "Мебельные ручки PAMAR",
											"list": [
												'Ручки скобы',
												'Ручки кнопки',
												'Крючки, Менсолодержатели, кабельные каналы',
												'Ручки врезные',
											]
										},
										{
											"name": "Мебельная фурнитура и аксессуары VIBO",
											"list": [
												'Посудосушители',
												'Выдвижные корзины и сетчатые емкости для кухни',
												'Выдвижные колонны',
												'Выдвижные поворотные колонны',
												'Механизмы для угловых тумб',
												'Карусели',
												'Наборы для сбора мусора',
												'Наполнение шкафов',
											]
										},
										{
											"name": "Мебельные ручки FOX ART",
											"list": []
										},
										{
											"name": "Фурнитура Volpato",
											"list": [
												'Лотки для столовых приборов',
												'Опоры (ножки кухонные)',
												'Вентиляционная база для холодильника',
												'Алюминиевые поддоны',
											]
										},
										{
											"name": "Мебельные фасады из массива ценных пород древесины",
											"list": [
												'Фасадные системы VENETO',
												'Мебельные фасады FIERAMOSCA',
												'Мебельные фасады РУССТА',
											]
										},
										{
											"name": "Пластик FENIX",
											"list": [
												'FENIX NTM',
											]
										},
										{
											"name": "Декоративные плиты TSS Cleaf",
											"list": [
												'Geta (NEW)',
												'Talco (NEW)',
												'Penelope',
												'Spigato и PrimoFiore',
												'Tranche',
												'Yosemite',
												'Azimut',
												'Engadina',
												'Sherwood',
												'Millenium',
												'Pembroke',
												'Ares',
												'Sable',
												'Esperia и Tivoli',
												'Matrix',
											]
										},
										{
											"name": "HPL пластик Cleaf",
											"list": [
												'Минералы',
												'Древесные декоры',
												'Фантазийные декоры',
												'Однотонные декоры',
											]
										},
										{
											"name": "Декоративные панели FunderMax",
											"list": [
												'Глянцевые панели LUXOS',
												'Суперматовые панели LOTOS',
												'Панели TSS Superfront',
											]
										},
										{
											"name": "Акриловый камень LG HI-MACS",
											"list": [
												'Aurora (NEW)',
												'Intense (NEW)',
												'Solid',
												'Lucent',
												'Sand&Pearl',
												'Granite&Quartz',
												'Lucia',
												'Volcanics',
												'Galaxy',
												'Marmo',
												'Изготовление изделий из HI-MACS',
											]
										},
										{
											"name": "Комплектующие для шкафов-купе raumplus",
											"list": [
												'Система распашных дверей RPS',
												'Система раздвижных дверей',
												'Система навесных дверей FLUA',
												'Безрамные деревянные двери и межкомнатные перегородки',
												'Система дверей с верхним подвесом AIR (последовательное и синхронное открывание)',
												'Система складных дверей',
												'Система распашных дверей',
												'Межкомнатная дверь SWING SLIM LINE',
												'Система мансардных дверей',
												'Интерьерная система RIMA',
												'Гардеробная система UNO',
												'Гардеробная система CORNICE',
												'Стационарные перегородки',
											]
										},
								]
							each item in items
								.navigation-el
									a(href="#").navigation-el-title #{item.name}
									ul.navigation-list
										if(item.list.length > 0)
											each list in item.list
												li.navigation-list__el
													a(href="#") #{list}
					.search
						input(type="text" placeholder="Поиск" class="input")
						+icon("search","icon")
	//block header end